openapi: 3.0.3
info:
  title: API.Rasp.Yandex.Net
  description: API Яндекс.Расписаний
  version: 3.0.0
servers:
- url: https://api.rasp.yandex.net
tags:
- name: Список ближайших станций
  description: Список ближайших станций
paths:
  /v3.0/nearest_stations/:
    get:
      tags:
      - getNearestStations
      summary: Список ближайших станций
      operationId: getNearestStations
      parameters:
      - name: apikey
        in: query
        description: API key
        required: true
        schema:
          type: string
      - name: lat
        in: query
        description: широта
        required: true
        schema:
          type: number
      - name: lng
        in: query
        description: долгота
        required: true
        schema:
          type: number
      - name: distance
        in: query
        description: радиус охвата
        required: true
        schema:
          type: integer
      - name: format
        in: query
        description: json или xml
        required: false
        schema:
          type: string
      - name: lang
        in: query
        description: lang
        required: false
        schema:
          type: string
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Stations'
  /v3.0/schedule/:
    get:
      tags:
      - getNearestRoute
      summary: "Список ближайших рейсов"
      operationId: getNearestRoute
      parameters:
      - name: apikey
        in: query
        description: API Key
        required: true
        schema:
          type: string
      - name: station
        in: query
        description: код станции
        required: true
        schema:
          type: string
      - name: format
        in: query
        description: json или xml
        required: false
        schema:
          type: string
      responses:
        "200":
        description: success
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Route'
        "400":
        description: нет данных
        "401":
        description: нет данных
        "404":
        description: не найдено        
components:
  schemas:
    Stations:
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/Pagination'
        stations:
          type: array
          items:
            $ref: '#/components/schemas/Station'
    Pagination:
      type: object
      properties:
        total:
          type: integer
        limit:
          type: integer
        offset:
          type: integer
    Station:
      type: object
      properties:
        type:
          type: string
        title:
          type: string
        short_title:
          type: string
        popular_title:
          type: string
        code:
          type: string
        lat:
          type: number
        lng:
          type: number
        station_type:
          type: string
        station_type_name:
          type: string
        transport_type:
          type: string
        distance:
          type: number
        majority:
          type: integer
        type_choices:
          $ref: '#/components/schemas/Schedule'
    Schedule:
      type: object
      properties:
        desktop_url:
          type: string
        touch_url:
          type: string
    Route:
      type: object
      properties:
        date: string
        pagination:
          $ref: '#/components/schemas/Pagination'
        station:
          $ref: '#/components/schemas/Station'
        schedule:
          type: arrey
          item:
            $ref: '#/components/schemas/ScheduleRoute'
        schedule_direction:
          $ref: '#/components/schemas/ScheduleDirection'
        directions:
          $ref: '#/components/schemas/Direction'
    Station:
      type: object
      properties:
        code:
          type: string
          discription: код станции 
        station_type:
          type: string
          discription: тип станции   
#           enum:
#            - station - станция;
#            - platform — платформа;
#            - stop — остановочный пункт;
#            - checkpoint — блок-пост;
#            - post — пост;
#            - crossing — разъезд;
#            - overtaking_point — обгонный пункт;
#            - train_station — вокзал;
#            - airport — аэропорт;
#            - bus_station — автовокзал;
#            - bus_stop — автобусная остановка;
#            - unknown — станция без типа;
#            - port — порт;
#            - port_point — портпункт;
#            - wharf — пристань;
#            - river_port — речной вокзал;
#            - marine_station — морской вокзал.
        station_type_name: 
          type: string
          discription: название типа станции
        title: 
          type: string
          discription: название станции
        popular_title: 
          type: string
          discription: общепринятое название станции  
        short_title: 
          type: string
          discription: сокращенное название станции
        codes:
          $ref: '#/components/schemas/Codes'
        transport_type:
          type: string
          discription: тип транспорта, обслуживаемый станцией
        type:
          type: string
          discription: вид станции
    Schedule:
      type: object
      properties:
        except_days:
          type: string
          discription: дни в которые нитка не курсирует
        arrival:
          type: string
          discription: время прибытия
        thread:
          $ref: '#/components/schemas/Thread'
        is_fuzzy:
          type: bool
          discription: признак неточности времени отправления и времени прибытия
        days:
          type: string
          discription: дни курсирования нитки
        stops:
          type: string
          discription: станции следования рейса, на которых совершается остановка
        departure:
          type: string
          discription: время отправления
        terminal:
          type: string
          discription: терминал аэропрта
        platform:
          type: string
          discription: платформа или путь с которого отправляется рейс
    Codes:
      type: object
      properties:
        yandex: 
          type: string
          discription: код станции в системе кодирования Яндекс Расписаний
        esr:
          type: string
          discription: код станции в системе кодирования ESR
    Schedule_directions:
      type: object
      properties:
        code:
          type: string
          discription: код направления
        title:
          type: string
          discription: название направления
    Schedule_directions:
      type: object
      properties:
        


           



      
        
          