openapi: 3.0.3
info:
  title: API.Rasp.Yandex.Net
  description: API Яндекс.Расписаний
  version: 3.0.0
servers:
- url: https://api.rasp.yandex.net
tags:
- name: Список ближайших станций
  description: Список ближайших станций
# Синтаксис запроса 
paths:
# Расписание рейсов между станциями
  /v3.0/search/:
    get:
      tags:
      - getScheduleRouteBetweenStation
      summary: "Расписание рейсов между станциями"
      operationId: getScheduleRouteBetweenStation
      parameters:
      - name: apikey
        in: query
        description: API Key
        required: true
        schema:
          type: string
      - name: from
        in: query
        description: Код станции отправления
        required: true
        schema:
          type: string
      - name: to
        in: query
        description: Код станции назначения
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Успешное выполнение запроса
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleRouteBetweenStation'
        "400":
          description: неверный запрос (ошибка клиента)
        "401":
          description: несанкционированный доступ (отсутствует или неверный API-ключ)
        "404":
          description: Ресурс не найден
# Расписание рейсов по станции
  /v3.0/schedule/:
    get:
      tags:
      - getScheduleRouteByStation
      summary: "Расписание рейсов по станции"
      operationId: getScheduleRouteByStation
      parameters:
      - name: apikey
        in: query
        description: API Key
        required: true
        schema:
          type: string
      - name: station
        in: query
        description: Код станции
        required: true
        schema:
          type: string
      - name: format
        in: query
        description: json или xml
        required: false
        schema:
          type: string
      responses:
        "200":
          description: Успешное выполнение запроса
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleRouteByStation'
        "400":
          description: неверный запрос (ошибка клиента)
        "401":
          description: несанкционированный доступ (отсутствует или неверный API-ключ)
        "404":
          description: Ресурс не найден
# Список станций следования
  /v3.0/thread/:
    get:
      tags:
        - getStationsByThread
      summary: Список станций следования
      operationId: getStationsByThread
      parameters:
      - name: apikey
        in: query
        description: API key
        required: true
        schema:
          type: string
      - name: uid
        in: query
        description: Идентификатор нитки в Яндекс Расписаниях
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Успешное выполнение запроса
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StationsByThread'
        "400":
          description: неверный запрос (ошибка клиента)
        "401":
          description: несанкционированный доступ (отсутствует или неверный API-ключ)
        "404":
          description: Ресурс не найден
# Список ближайших станций
  /v3.0/nearest_stations/:
    get:
      tags:
      - getNearestStations
      summary: Список ближайших станций
      operationId: getNearestStations
      parameters:
      - name: apikey
        in: query
        description: API key
        required: true
        schema:
          type: string
      - name: lat
        in: query
        description: Широта
        required: true
        schema:
          type: number
      - name: lng
        in: query
        description: Долгота
        required: true
        schema:
          type: number
      - name: distance
        in: query
        description: Радиус охвата
        required: true
        schema:
          type: integer
      - name: format
        in: query
        description: json или xml
        required: false
        schema:
          type: string
      - name: lang
        in: query
        description: lang
        required: false
        schema:
          type: string
      responses:
        "200":
          description: Успешное выполнение запроса
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NearestStations'
        "400":
          description: неверный запрос (ошибка клиента)
        "401":
          description: несанкционированный доступ (отсутствует или неверный API-ключ)
        "404":
          description: Ресурс не найден
# Ближайший город
  /v3.0/nearest_settlement/:
    get:
      tags:
      - getNearestSettlement
      summary: Ближайший город
      operationId: getNearestSettlement
      parameters:
      - name: apikey
        in: query
        description: API key
        required: true
        schema:
          type: string
      - name: lat
        in: query
        description: Широта
        required: true
        schema:
          type: number
      - name: lng
        in: query
        description: Долгота
        required: true
        schema:
          type: number
      responses:
        "200":
          description: Успешное выполнение запроса
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NearestSettlement'
        "400":
          description: неверный запрос (ошибка клиента)
        "401":
          description: несанкционированный доступ (отсутствует или неверный API-ключ)
        "404":
          description: Ресурс не найден
# Информация о перевозчике
  /v3.0/carrier/:
    get:
      tags:
      - getCarrierInfo
      summary: Информация о перевозчике
      operationId: getCarrierInfo
      parameters:
      - name: apikey
        in: query
        description: API key
        required: true
        schema:
          type: string
      - name: code
        in: query
        description: Код перевозчика
        required: true
        schema:
          type: integer
      responses:
        "200":
          description: Успешное выполнение запроса
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CarrierInfo'
        "400":
          description: неверный запрос (ошибка клиента)
        "401":
          description: несанкционированный доступ (отсутствует или неверный API-ключ)
        "404":
          description: Ресурс не найден    
# Список всех доступных станций
  /v3.0/stations_list/:
    get:
      tags:
      - getAllStationsList
      summary: Список всех доступных станций
      operationId: getAllStationsList
      parameters:
      - name: apikey
        in: query
        description: API key
        required: true
        schema:
          type: string
      - name: format
        in: query
        description: json или xml
        required: false
        schema:
          type: string
      responses:
        "200":
          description: Успешное выполнение запроса
          content:
            text/html; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AllStationsList'
        "400":
          description: неверный запрос (ошибка клиента)
        "401":
          description: несанкционированный доступ (отсутствует или неверный API-ключ)
        "404":
          description: Ресурс не найден
# Копирайт Яндекс Расписаний
  /v3.0/copyright/:
    get:
      tags:
      - getCopyright
      summary: Копирайт Яндекс Расписаний
      operationId: getCopyright
      parameters:
      - name: apikey
        in: query
        description: API key
        required: true
        schema:
          type: string
      - name: format
        in: query
        description: Формат ответа (json по умолчанию)
        required: false
        schema:
          type: string
      responses:
        "200":
          description: Успешное выполнение запроса
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Copyright'
        "400":
          description: неверный запрос (ошибка клиента)
        "401":
          description: несанкционированный доступ (отсутствует или неверный API-ключ)
        "404":
          description: Ресурс не найден
          
# Структуры ответа
components:
  schemas:
# Расписание рейсов между станциями
    ScheduleRouteBetweenStation:
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/Pagination'
        interval_segments:
          type: array
          items:
            $ref: '#/components/schemas/IntervalSegments'
        segments:
          type: array
          items:
            $ref: '#/components/schemas/Segments'
        search:
          $ref: '#/components/schemas/Search'
    Pagination:
      type: object
      properties:
        total:
          type: number
          description: Общее количество станций, удовлетворяющих условиям поиска
        limit:
          type: number
          description: Ограничение на количество станций, которые Яндекс Расписания возвращают в ответе на запрос
        offset:
          type: number
          description: Смещение относительно первого результата поиска
    IntervalSegments:
      type: object
      properties:
        from:
          $ref: '#/components/schemas/From'
        thread:
          $ref: '#/components/schemas/Thread'
        departure_platform:
          type: string
          description: Номер платформы станции отправления
        stops:
          type: string
          description: Станции следования рейса, на которых совершается остановка. Описывается в свободной форме
        departure_terminal:
          type: string
          description: Название терминала станции отправления
        to:
          $ref: '#/components/schemas/To'
        has_transfers:
          type: boolean
          description: Признак наличия пересадок nпо ходу рейса
        tickets_info:
          $ref: '#/components/schemas/TicketsInfo'
        duration:
          type: number
          description: Продолжительность рейса (в секундах)
        arrival_terminal:
          type: string
          description: Название терминала станции прибытия
        start_date:
          type: string
          # format: date-time
          # nullable: true
          description: Дата отправления рейса
        arrival_platform:
          type: string
          description: Номер платформы станции прибытия
    Segments:
      type: object
      properties:
        arrival:
          type: string
          # format: date-time
          # nullable: true
          description: Время прибытия
        from:
          $ref: '#/components/schemas/From'
        thread:
          $ref: '#/components/schemas/Thread'
        departure_platform:
          type: string
          description: Номер платформы станции отправления
        departure:
          type: string
          # format: date-time
          # nullable: true
          description: Время отправления
        stops:
          type: string
          description: Станции следования рейса, на которых совершается остановка
        departure_terminal:
          type: string
          description: Название терминала станции отправления
        to:
          $ref: '#/components/schemas/To'
        has_transfers:
          type: boolean
          description: Признак наличия пересадок nпо ходу рейса
        tickets_info:
          $ref: '#/components/schemas/TicketsInfo'
        duration:
          type: integer
          description: Продолжительность рейса (в секундах)
        arrival_terminal:
          type: string
          description: Название терминала станции прибытия
        start_date:
          type: string
          # format: date-time
          # nullable: true
          description: Дата отправления рейса
        arrival_platform:
          type: string
          description: Номер платформы станции прибытия
    From:
      type: object
      properties:
        code:
          type: string
          description: Код пункта отправления в системе кодирования Яндекс Расписаний
        title:
          type: string
          description: Название пункта отправления
        station_type:
          type: string
          description: Тип пункта отправления
        station_type_name: 
          type: string
          description: название типа станции
        popular_title: 
          type: string
          description: Общепринятое название станции  
        short_title: 
          type: string
          description: Сокращенное название станции
        transport_type:
          type: string
          description: Тип транспорта, обслуживаемый станцией
        type:
          type: string
          description: Вид станции 
    Thread:
      type: object
      properties:
        uid:
          type: string
          description: Идентификатор нитки в системе кодирования Яндекс Расписаний
        title:
          type: string
          description: Название нитки
        interval:
          $ref: '#/components/schemas/Interval'
        number:
          type: string
          description: Номер рейса
        short_title:
          type: string
          description: Сокращенное название нитки
        thread_method_link:
          type: string
          description: а информации о нитке с идентификатором, указанным в ключе uid
        carrier:
          $ref: '#/components/schemas/Carrier'
        transport_type:
          type: string
          description: Тип транспортного средства
        vehicle:
          type: string
          description: Название транспортного средства
        transport_subtype:
          $ref: '#/components/schemas/TransportSubtype'
        express_type:
          type: string
          description: Признак транспрорта, экспресс или аэроэкспресс
    To:
      type: object
      properties:
        code:
          type: string
          description: Код станции прибытия в системе кодирования Яндекс Расписаний
        title:
          type: string
          description: Название станции прибытия
        station_type:
          type: string
          description: Пункт назначиения
        station_type_name: 
          type: string
          description: название типа станции
        popular_title: 
          type: string
          description: Общепринятое название станции  
        short_title: 
          type: string
          description: Сокращенное название станции
        transport_type:
          type: string
          description: Тип транспорта, обслуживаемый станцией
        type:
          type: string
          description: Вид станции
    Interval:
      type: object
      properties:
        density:
          type: string
          description: Описание периодичности движения в свободной форме
        begin_time:
          type: string
          # format: date-time
          # nullable: true
          description: Дата и время начала движения по нитке. Всегда указывается в часовом поясе станции прибытия
        end_time:
          type: string
          # format: date-time
          # nullable: true
          description: Дата и время окончания движения по нитке. Всегда указывается в часовом поясе станции отправления
    TicketsInfo:
      type: object
      properties:
        et_marker:
          type: boolean
          description: Признак возможности купить электронный билет
        places:
          type: array
          description: Доступные типы и цена билетов
          items:
            $ref: '#/components/schemas/Places' 
    Places:  
      type: object
      properties:
        currency:
          type: string
          description: Идентификатор валюты, в которой указана цена
        price:
          type: array
          description: Цена билета
          items:
            $ref: '#/components/schemas/Price'
        name:
          type: string
          description: Название типа билета (например, «эконом»)
    Price:
      type: object
      properties:
        cents:
          type: number
          description: Целое число дополнительных единиц валюты (например, копеек или центов)
        whole:
          type: number
          description: Целое число основных единиц валюты (например, рублей)
    Carrier:
      type: object
      properties:
        code:
          type: integer
          description: Код перевозчика в системе кодирования Яндекс Расписаний
        contacts:
          type: string
          description: Контактная информация, в свободной форме
        url:
          type: string
          description: Ссылка на страницу перевозчика
        logo_svg:
          type: string
          description: Ссылка на используемый Яндексом логотип перевозчика в формате SVG
        title:
          type: string
          description: Название перевозчика
        phone:
          type: string
          description: Контактный номер телефона перевозчика
        codes:
          $ref: '#/components/schemas/CodesCarrier'
        address:
          type: string
          description: Юридический адрес перевозчика
        logo:
          type: string
          description: Ссылка на используемый Яндексом логотип перевозчика в растровом формате
        email:
          type: string
          description: Электронный почтовый адрес перевозчика
    TransportSubtype:
      type: object
      properties:
        color:
          type: string
          description: Цвет транспортного средства в шеснадцатизначном формате
        code:
          type: string
          description: Код транспортного средства
        title:
          type: string
          description: Описание подтипа транспортного средства
    CodesCarrier:
      type: object
      properties:
        icao:
          type: string
          description: Код станции в системе кодирования ICAO
        sirena:
          type: string
          description: Код станции в системе кодирования Sirena
        iata:
          type: string
          description: Код станции в системе кодирования IATA
    Search:
      type: object
      properties:
        date:
          type: string
          # format: date
          # nullable: true
          description: Дата, на которую получен список рейсов, в формате «YYYY-MM-DD»
        to: 
          $ref: '#/components/schemas/To'
        from:
          $ref: '#/components/schemas/From'
# Расписание рейсов по станции
    ScheduleRouteByStation:
      type: object
      properties:
        date: 
          type: string
          # format: date
          # nullable: true
          description: Дата расписания
        pagination:
          $ref: '#/components/schemas/Pagination'
        station:
          $ref: '#/components/schemas/Station'
        schedule:
          type: array
          items:
            $ref: '#/components/schemas/Schedule'
        interval_schedule:
          type: array
          items:
            $ref: '#/components/schemas/IntervalSchedule'
        directions:
          type: array
          items:
            $ref: '#/components/schemas/Directions'
        schedule_direction:
          $ref: '#/components/schemas/Directions'
    Station:
      type: object
      properties:
        direction:
          type: string
          description: Направление движания поездов
        distance:
          type: number
          description: Расстояние от указанной в запросе точки до полученной в ответе станции
        code:
          type: string
          description: Код станции в системе кодирования Яндекс Расписаний
        station_type:
          type: string
          description: Тип станции
#           enum:
#            - station - станция;
#            - platform — платформа;
#            - stop — остановочный пункт;
#            - checkpoint — блок-пост;
#            - post — пост;
#            - crossing — разъезд;
#            - overtaking_point — обгонный пункт;
#            - train_station — вокзал;
#            - airport — аэропорт;
#            - bus_station — автовокзал;
#            - bus_stop — автобусная остановка;
#            - unknown — станция без типа;
#            - port — порт;
#            - port_point — портпункт;
#            - wharf — пристань;
#            - river_port — речной вокзал;
#            - marine_station — морской вокзал.
        station_type_name:
          type: string
          description: Название типа станции
        codes:
          $ref: '#/components/schemas/CodesStations'
        type_choices:
          $ref: '#/components/schemas/TypeChoices'
        title:
          type: string
          description: Название станции
        popular_title:
          type: string
          description: Популярное название станции
        short_title:
          type: string
          description: Краткое название станции
        majority:
          type: integer
          description: Целое число, определяющее относительную важность станции в транспортном сообщении региона
        transport_type:
          type: string
          description: Основной тип транспорта для данной станции
        lat:
          type: number
          description: Широта станции
        latitude:
          oneOf:
          - type: number
          - type: string
          description: Широта станции
        lng:
          type: number
          description: Долгота станции
        longitude:
          oneOf:
          - type: number
          - type: string
          description: Долгота станции
        type:
          type: string
          description: Вид найденного пункта
    CodesStations:
      type: object
      properties:
        express:
          type: string
          description: Код станции в системе Экспресс-3
        yandex:
          type: string
          description: Код станции в системе Яндекс Расписаний
        yandex_code:
          type: string
          description: Код станции в системе Яндекс Расписаний
        esr:
          type: string
          description: Код станции в системе ЕСР
        esr_code:
          type: string
          description: Код железнодорожной станции в системе ЕСР (если применимо)
    Schedule:
      type: object
      properties:
        except_days:
          type: string
          description: Дни в которые нитка не курсирует
        arrival:
          type: string
          # format: date-time
          # nullable: true
          description: Время прибытия
        thread:
          $ref: '#/components/schemas/Thread'
        is_fuzzy:
          type: boolean
          description: Признак неточности времени отправления и времени прибытия
        days:
          type: string
          description: Дни курсирования нитки
        stops:
          type: string
          description: Станции следования рейса, на которых совершается остановка
        departure:
          type: string
          # format: date-time
          # nullable: true
          description: Время отправления
        terminal:
          type: string
          description: Терминал аэропрта
        platform:
          type: string
          description: Платформа или путь с которого отправляется рейс
    IntervalSchedule:
      type: object
      properties:
        except_days:
          type: string
        thread:
          $ref: '#/components/schemas/Thread'
    Directions:
      type: object
      properties:
        code:
          type: string
          description: Код направления
        title:
          type: string
          description: Название направления
# Список станций следования
    StationsByThread:
      type: object
      properties:
        except_days:
          type: string
          description: Дни, в которые нитка не курсирует
        arrival_date:
          type: string
          description: Дата прибытия на станцию
        from:
          type: string
          description: Пункт отправления
        uid:
          type: string
          description: Идентификатор нитки, принятый в Яндекс Расписаниях
        title:
          type: string
          description: Название нитки, составленное из полных названий первой и последней станций следования
        interval:
          $ref: '#/components/schemas/Interval'
        departure_date:
          type: string
          description: Дата отправления со станции
        start_time:
          type: string
          description: Время отправления с первой станции следования по местному времени станции
        number:
          type: string
          description: Номер рейса
        short_title:
          type: string
          description: Название нитки, составленное из коротких названий первой и последней станций следования
        days:
          type: string
          description: Дни курсирования нитки
        to:
          type: string
          description: Пункт прибытия
        carrier:
          $ref: '#/components/schemas/Carrier'
        transport_type:
          type: string
          description: Тип транспорта
        stops:
          type: array
          description: Список станций следования
          items:
            $ref: '#/components/schemas/Stops'
        vehicle:
          type: string
          description: Название транспортного средства
        start_date:
          type: string
          description: Дата отправления с первой станции следования
        transport_subtype:
          $ref: '#/components/schemas/TransportSubtype'
        express_type:
          type: string
    Stops:
      type: object
      properties:
        arrival:
          type: string
          description: Время прибытия, в формате ISO 8601 (YYYY-MM-DDThh:mm:ss±hh:mm)
        departure:
          type: string
          description: Время отправления, в формате ISO 8601 (YYYY-MM-DDThh:mm:ss±hh:mm)
        duration:
          type: integer
          description: Время в пути между станциями (в секундах)
        stop_time:
          type: integer
          description: Продолжительность остановки (в секундах)
        station:
          $ref: '#/components/schemas/Station'
        terminal:
          type: string
          description: Терминал аэропорта (например, «D»)
        platform:
          type: string
          description: Платформа или путь, с которого отправляется рейс (например, «3 путь»)
# Список ближайших станций
    NearestStations:
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/Pagination'
        stations:
          type: array
          items:
            $ref: '#/components/schemas/Station'
    TypeChoices:
      type: object
      properties:
        schedule:
          type: object
          properties:
            desktop_url:
              type: string
              format: uri
            touch_url:
              type: string
              format: uri
# Ближайший город
    NearestSettlement:
      type: object
      properties:
        distance:
          type: number
          description: Расстояние до найденного города, в километрах
        code:
          type: string
          description: Код города в системе кодирования Яндекс Расписаний
        title:
          type: string
          description: Название города
        popular_title:
          type: string
          description: Общепринятое название города
        short_title:
          type: string
          description: Краткое название города
        lat:
          type: number
          description: Широта
        lng:
          type: number
          description: Долгота
        type:
          type: string
          description: Тип транспортного пункта
# Информация о перевозчике
    CarrierInfo:
      type: object
      properties:
        carrier:
          $ref: '#/components/schemas/Carrier'
# Список всех доступных станций
    AllStationsList:
      type: object
      properties:
        countries:
          type: array
          items:
            $ref: '#/components/schemas/Countries'
    Countries:
      type: object
      properties:
        regions:
          type: array
          items:
            $ref: '#/components/schemas/Regions'
        codes:
          $ref: '#/components/schemas/CodesStations'
        title:
          type: string
          description: Название страны
    Regions:
      type: object
      properties:
        settlements:
          type: array
          items:
            $ref: '#/components/schemas/Settlements'
        codes:
          $ref: '#/components/schemas/CodesStations'
        title:
          type: string
          description: Название региона
    Settlements:
      type: object
      properties:
        title:
          type: string
          description: Название населенного пункта
        codes:
          $ref: '#/components/schemas/CodesStations'
        stations:
          type: array
          items:
            $ref: '#/components/schemas/Station'
# Копирайт Яндекс расписаний
    Copyright:
      type: object
      properties:
        copyright:
          type: object
          properties:
            logo_vm:
              type: string
              description: Вертикальный монохромный баннер
            url:
              type: string
              description: URL Яндекс Расписаний
            logo_vd:
              type: string
              description: Вертикальный черно-белый баннер
            logo_hy:
              type: string
              description: Горизонтальный цветной баннер
            logo_hd:
              type: string
              description: Горизонтальный черно-белый баннер
            logo_vy:
              type: string
              description: Вертикальный цветной баннер
            logo_hm:
              type: string
              description: Горизонтальный монохромный баннер
            text:
              type: string
              description: Уведомительный текст